.parent {
  position: relative;
  background-color: sandybrown;
  height: 75vh;
  width: 75vh;
  padding: 1em;
  margin: 20px auto;
}

.parent p {
  position: relative;
  z-index: 1;
}
.child {
  position: absolute;
  background-color: red;
  height: 85px;
  width: 45px;
  top: 0;
  z-index: 0;
  /* top: 0;
  bottom: 0;
  width: 200px;
  height: 100%;
  right: 25%;
  left: 15%; */
}
